body {
    margin: 0;
    padding: 0;
}

.bg-image {
    background-image: url('/static/img/bg-image.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}